@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --nordzero: 46 52 64; /* nord 0*/
  --nordone: 59 66 82; /* nord 1 */
  --nordtwo: 67 76 94; /* nord 2 */
  --nordfour: 216 222 233; /* nord 4*/
  --nordfive: 229 223 240; /* nord 5*/
  --nordsix: 236 239 244; /* nord 6*/
  --nordseven: 143 188 187; /* nord 7*/
  --nordeight: 136 192 208; /* nord 8*/
  --nordnine: 129 161 193; /* nord 9*/
  --nordeleven: 191 97 106; /* nord 11*/
  --nordtwelve: 208 135 112; /* nord 12*/
  --nordthirteen: 235 203 139; /* nord 13*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    background: rgb(var(--nordone));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .gbf-slider {
    @apply
    /* Webkit / Chrome is stupid to style for! */
    [&::-moz-range-track]:bg-white
    [&::-moz-range-progress]:bg-sky-500
    [&::-moz-range-thumb]:bg-sky-100
    [&::-moz-range-thumb]:[transform:rotate(45deg)]
    [&::-moz-range-thumb]:[border-radius:0]
  }

  body {
    @apply 
    text-nordwhite
    h-screen
  }
}